# dependencies
*/node_modules
.venv

# debug
*/logs

# misc
.DS_Store
.pem
.vscode

# local env files
.env*.local

# python cache
__pycache__/
*.pyc
*/*.pyc
*.pyo
*/*.pyo
*.pyd
*/*.pyd

# sessions
sessions/*