html body {
    margin: 0; padding: 0;
}
main {
    padding: 1rem 1.75rem;
    font-family: sans-serif;
}
form > input + input {
    margin-top: 1rem;
}
input {
    font-size: 1rem;
    display: block;
    padding: 0.5rem 1rem;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex.flex-row {
    flex-direction: row;
}